#myChart {
    margin: 0 auto;
    min-height: 150px;
    max-height: 150px;
    min-width: 95%;
    max-width: 95%;
}

.text-success {
    color: rgb(0, 255, 0) !important;
}

.graphPeriods {
    color: #18C7C7;
    font-size: 14px;
    font-weight: bold;
    margin-right: 30px;
    z-index: 9999;
}

.bottomHeader {
    width: 90%;
}

@media (max-width: 520px) {
    .fontTwelve, .fontTwelveHeading {
        font-size: 12px;
    }

    /* .graphPeriods{
        margin-right: 60px;
    } */
    .bottomHeader {
        width: 93% !important;
    }

}

@media (max-width: 470px) {
    .fontTwelve, .fontTwelveHeading {
        font-size: 11px;
    }
}

@media (max-width: 440px) {
    .fontTwelve, .fontTwelveHeading {
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    .fontTwelve {
        font-size: 9px !important;
    }

    .fontTwelveHeading {
        font-size: 12px !important;
    }

    .graphFormats {
        font-size: 10px;
    }
}

@media (max-width: 360px) {
    .fontTwelve {
        font-size: 8px !important;
    }

    .graphFormats {
        font-size: 8px;
    }
}

@media (max-height: 830px) {
    #myChart {
        min-height: 170px;
        max-height: 170px;
    }
}

@media (max-height: 790px) {
    #myChart {
        min-height: 160px;
        max-height: 160px;
    }
}

@media (max-height: 770px) {
    #myChart {
        min-height: 155px;
        max-height: 155px;
    }
}

@media (max-height: 750px) {
    #myChart {
        min-height: 145px;
        max-height: 145px;
    }
}

@media (max-height: 725px) {
    #myChart {
        min-height: 135px;
        max-height: 135px;
    }
}

@media (max-height: 700px) {
    #myChart {
        min-height: 125px;
        max-height: 125px;
    }
}

@media (max-height: 680px) {
    #myChart {
        min-height: 115px;
        max-height: 115px;
    }
}

@media (max-height: 655px) {
    #myChart {
        min-height: 110px;
        max-height: 110px;
    }
}

@media (min-width: 1000px) {
    #myChart {
        margin-top: -300px !important;
        /* position: relative;
        left: -50px; */
        min-height: 280px;
        max-height: 280px;
        min-width: 94%;
        max-width: 94%;
    }
}