.txsTxt{
    font-size: 14px;
    font-weight: bold;
    color: #1FE2FA;
}
.txsL{
    margin-bottom: 5px;
    margin-top: 5px;
}

@media (max-width: 360px) {
    .txsListHead{
    font-size: 17px !important;
}
}
@media (max-width: 341px) {
    .txsListHead{
    font-size: 16px !important;
}
}

@media (min-width: 1000px) {
    .txsTxt{
        font-size: 16px !important;
        font-weight: bold;
        color: #1FE2FA;
    }
}