.networksDivv {
    border: 1px solid grey;
    width: 90%;
    background-color: #111224;
    margin: 0 auto;
    padding-bottom: 10px;
    border-radius: 20px;
    padding-top: 10px;
    margin-top: 25px;
    font-size: 16px;
    text-align: center;
}

.selectPeriodDIv {
    background-color: #182E2C !important;
}
.selectPeriodDIv h4{
    font-weight: bold;
}
.selectPeriodHR {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 0.1% solid grey; */
    /* border: 5px dotted grey; */
    /* border-style: dotted; */
    border-bottom: 2px dotted #4F5554;
    /* background-color: grey; */
}

.selectPeriodHead {
    font-size: 20px;
    text-align: center;
    margin-left: 0px;
    font-weight: bold;
    color: #1DCCFF;
}

@media (max-width: 384px) {
    .selectPeriodHead {
        font-size: 19px;
    }
}

@media (max-width: 365px) {
    .selectPeriodHead {
        font-size: 18px;
    }
}

@media (min-width: 1000px) {
    .networksDivvDesktop {
        border: 1px solid grey;
        width: 90%;
        background-color: #111224;
        margin: 0 auto;
        padding-bottom: 10px;
        border-radius: 20px;
        padding-top: 10px;
        margin-top: 40px;
        margin-bottom: 25px;
        text-align: center;
    }

    .networksDivvDesktop h4 {
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}