  .amountStakeBtns {
      background-color: #111224;
      border-radius: 10px;
      color: white;
      border: none;
      height: 40px;
      width: 150px;
      font-size: 14px;
      font-weight: bold;
  }

  .hrStack {
      width: 100%;
      margin-top: 0px;
      margin-bottom: 10px;
      border: 1px solid #0367FE;
      background-color: #0367FE;
  }

  .optionsOfStake {
      background-color: #111224;
      border-radius: 10px;
      color: white;
      border: none;
      height: 70%;
      width: 70%;
      margin-top: 6px;
      font-size: 14px;
      font-weight: bold;
  }


  @media (max-width: 400px) {
      .perAnnum {
          margin-top: -19px !important;
      }
  }

  @media (max-width: 386px) {
      .perAnnum {
          margin-top: -19px !important;
      }

      .optionsOfStake {
          font-size: 13px;
      }

      .amountStakeBtns {
          height: 35px;
          width: 130px;
          font-size: 13px;
          /* margin-top: -5px; */
          margin-bottom: 5px;
      }

      .hrStack {
          margin-top: -7px;
      }
  }

  @media (max-width: 372px) {
      .perAnnum {
          margin-top: -19px !important;
      }

      .optionsOfStake {
          font-size: 12px;
      }

      .amountStakeBtns {
          height: 35px;
          width: 130px;
          font-size: 13px;
          margin-top: -5px;
          margin-bottom: 5px;
      }

      .hrStack {
          margin-top: -7px;
      }
  }

  @media (max-width: 372px) {

      .optionsOfStake {
          font-size: 11px;
      }

  }